@media only screen and (max-width:1650px){
/* Header */
.logo{left: 90px;}

/* Banner */
.bnr_info{left: 665px;}
}

@media only screen and (max-width:1500px){
  /* Navigation */
  nav{max-width: 96%;}
  nav ul li a{padding: 9px 68px;}
  /* Banner */
  .rslides{display: block;}
  .box_skitter{display: none;}
  .bnr_info section{display: block;}
  .bnr_info a{margin-top: 32px;}
  .bnr_info{bottom: 45px;}

  /* Main Area */
  #main_area{padding: 150px 20px 0;}

  /* Middle */
  #middle{padding: 167px 20px 135px;}

  /* Bottom */
  .btm1_con section{margin-right: 20px;}
  #bottom2{padding: 228px 20px 150px;}

  /* Footer */
  .footer_nav ul li a{padding: 23px 72px;}

  /* Nonhome */
  .nonhome-nav{max-width: 100%;}
  .main-entry{padding: 0 20px;}
}

/* Large Tablet Devices */
@media only screen and (max-width:1400px){
/* Navigation */
nav ul li a{padding: 9px 60px;}

/* Footer */
.footer_nav ul li a{padding: 23px 64px;}
}

@media only screen and (max-width:1300px){
  /* Header */
.logo{max-width: 100%; width: 324px;}
.logo::before {display: none;}
.logo::after {height: 227px;border-radius: 145px 145px;}
.main-logo1 img {   border: 3px solid #237f3b;   border-radius: 50%; }
  /* Navigation */
  nav ul li a{padding: 9px 52px;}

  /* Middle */
  #middle{padding: 80px 20px;}

  /* Main Area */
  main{width: 520px;}


  /* Footer */
  .footer_nav ul li a{padding: 23px 56px;}
  .gmap iframe{width: 333px; height: 333px;}
}

@media only screen and (max-width:1200px){
/* Navigation */
nav ul li a{padding: 9px 43px;line-height: 35px;}

/* Banner */
.bnr_info{left: 565px;}

/* Middle */
.middle_boxes{margin-top: 60px;}
.middle2_con{gap: 50px 15px;}
.middle2_con section{width: 30%;}
#middle::after {height: 1180px;}

/* Main Area */
#main_area{padding: 70px 20px 0;min-height: 405px;}
.sidebar figure::before {display: none;}
.sidebar img {   max-width: 100%;   width: 400px; }

/* Bottom */
#bottom1{min-height: 0;}
.btm1_con{display: flex; flex-wrap: wrap; justify-content: space-between;}
.btm1_con figure::before{display: none;}
.btm1_con figure {   width: 31%;   bottom: 0;   position: relative;   float: left;   left: 0; }
.btm1_con img{max-width: 100%; width: 400px; bottom: 0; position: absolute;left: 0;margin: -65px 51px 0 auto;}
.btm1_con section{margin-right: 20px;width: 59%;margin-bottom: 60px;}
.btm1_con p{margin: 35px auto 57px;}

/* Footer */
.footer_nav ul li a{padding: 23px 46px;}
}

@media only screen
and (max-width : 1090px) {
  html, body{
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Webkit */
    -moz-user-select: none;    /* Firefox */
    -ms-user-select: none;     /* IE 10  */
  }
/* Navigation */
nav ul li a{padding: 9px 36px;}

/* Banner */
.bnr_info{bottom: 2px;left: 505px;}

/* Bottom */
#bottom3{padding: 150px 20px;}
.btm3_con p{width: 100%;}

/* Footer */
.footer_nav ul li a{padding: 23px 39px;}
.footer_logo img{max-width: 100%; width: 200px;}
.gmap iframe{width: 300px; height: 300px;}
}

@media only screen
and (max-width : 1024px) {
   /* Nav Area Sub-Menu Style */

   nav li.menu-item-has-children > span{display:block;}
   nav li > span{display:block;}
   nav ul ul, nav ul ul li, nav ul ul li a {width:100%;}
   nav ul ul li a {line-height: 50px;}
   nav ul li:hover > ul{display: none;}
}

@media only screen
and (max-width : 1000px) {

  /*Header Area*/
  header {padding: 15px 15px; position: relative;}
  .logo{position: static;margin-bottom: 15px;}
.logo::after {display: none;}
.main-logo1{display: none;}
.main-logo2 {display: block;}
  /*Nav Area*/
  nav{clear: both; height:auto;margin:auto; padding:10px 10px 4px; transition:none; position:relative; width:100%; right:0; top:0; font-size: 0;max-width: 100%;}
  nav ul{ margin:0; text-align:center;padding: 20px 0 0;border-top: 1px solid green;}
  nav ul li{width: 32%; text-align: center; border:1px solid #fff; margin:0px 2px 6px !important;}
  nav ul li:after{content: "";}
  nav ul li a{line-height: 50px;border-radius: unset;color:#fff;background: #006836;}
  nav ul li a:hover{background: #8bc349;}
nav ul li a.active{background: #8bc349;}
  /*Banner Area*/
  #banner{text-align: center; height: auto; margin: 0; padding: 10px 20px;}
  .slider {   position: relative;   left: 50%;   transform: translateX(-50%);   width: 100vw; }
    .box_skitter{display:none;}
    .rslides{display:block;}
  .bnr_info{position: static;text-align: center;float: unset;width: 100%;padding: 46px 20px;margin-left: 50%; transform: translateX(-50%);background: #006836;}
  #banner::after {display: none;}
  .bnr_info h2{color: #fff;}
  .bnr_info p{color: #fff;width: 100%;}
  .bnr_info a{margin: 40px auto 0;background: #fff; color: #000;}
  .bnr_info a:hover{background: #8bc349;}
  /*Middle Area*/
  #middle {text-align:center; margin:0; padding:8px 20px 0;}
    .middle_con section{width:32%; margin:0 3px 8px!important;}
#middle::after {display: none;}
.middle2_con{gap:15px;}
.middle2_con section{width: 36%; background: #006836; padding: 20px 20px 30px;}
.middle2_con section figure {   background: unset;   border-radius: unset;   padding: unset; }
.middle2_con section div p{margin: 30px auto; min-height: 0;}
.middle2_con section div a:hover{background: #8bc349;}
  /*Main Area*/
  #main_area{padding: 40px 20px; margin:0;min-height: 0;}
  main{width: 100%;}
  .sidebar img{display: none;}
  /*Bottom Area*/
  #bottom1{padding: 30px 20px 55px;background: #006836;}
  .btm1_con h2{color: #fff;}
  .btm1_con h2 span{background: #fff;}
  .btm1_con p{color: #fff;}
  .btm1_con a{background: #fff;color:#000;}
.btm1_con a:hover{background:   #8bc349}
    .btm1_con section{width:100%; margin:0 3px 8px!important;}
.btm1_con figure{display: none;}

#bottom2{padding: 68px 20px;}
.btm2_con section{width: 46%;}
.btm2_con{gap: 70px 15px;}
.btm2_con section h2::before {position: static;transform: unset;display: block; margin: 0 auto;}

#bottom3{padding: 68px 20px;}
  /*Footer Area*/
  footer{padding: 68px 20px;}
  .footer_nav ul{border-radius: 0;}
  .footer_nav ul li a{padding: 23px 22px;border-radius: 0;}
  .contact_con{display: block;}
  .contact_info{width: 100%;text-align: center;}
  .contact_info ul li{left: 0}
  .gmap{margin-top: 50px;}
  .gmap::before {display: none;}
  .gmap iframe{width: 100%;border-radius: 0;}
  .foot_logo{position: static;transform: unset;}
  .footer_logo{left: 0;}
  .foot_logo{margin: 60px auto 0;}
.copyright{margin-top: 30px;}
.contact_info ul li::before {position: static; margin: 0 auto; display: block;}

/* Nonhome */
.nonhome-nav{background: #fff;}
.nonhome-nav ul{padding: 20px 0;}
.nonhome-header{padding: 14px 15px;}
.nh-logo{width: 324px;}
}

@media only screen
and (max-width : 800px) {
  /* Header Area */
  .logo{float: none; margin: 0;width: 215px;}
  header{padding: 0;}
  .header_info{text-align: center; padding: 10px; float: none;}
.nonhome-header{padding: 0;}
  /* Nav Area */
  .nav_toggle{display:block;padding: 20px 15px;}
  nav {width: 280px;position: fixed;top: 0;right: -280px;height: 100%;background: #999999;transition: all 0.7s ease;overflow-y: scroll;padding: 0 0 30px;opacity: 0;border-radius: unset;left: unset; transform: unset;}
	nav ul{margin: 0; padding: 0;}
	nav ul li{width: 100%; display: block; margin: 0 auto !important;border: none;border-bottom: 1px solid #f8f8f8;text-align: left;border-radius: unset;}
	nav ul li:last-child{border-bottom: none;}
nav ul li a{text-align: center;}
	nav ul ul{width:100%; position:relative;  transition:none;}
	nav ul ul li {border:none; width:100%;}

  /* Toggle Style */
  .toggle_right_nav {position: fixed;top: 0;left: 0;right: 0;width:100%;height: 100%;z-index: 1000;visibility: hidden; transition: all 0.7s ease;}
  .toggle_nav_close {position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2;}
  .toggle_right_cont {visibility: visible;background: rgba(0,0,0,0.9);}
  .toggle_right_style {right: 0;opacity: 1;z-index: 45;}
  .logo_slide_right {display: inline-block;vertical-align: middle;width: calc(100% - 90px);}

  .menu_slide_right {display: block;text-align: left;padding: 20px 10px;background: #fff;position: relative;}
  .menu_slide_right small {display: inline-block;vertical-align: middle;font-size: 40px;font-weight: bold;color: #000;line-height: 100%;text-align: right;width: 90px;cursor: pointer;position: absolute;top: 50%;right: 10px;transform: translate(0,-50%);}

  /* Banner */
  #banner{padding: 0 20px;}


  /* Middle */
  .middle2_con section{width: 60%;}

  /* Bottom */
  .btm2_con section{width: 55%;}

  /*Footer Area*/
  .footer_btm{padding: 24px 0;}
    .footer_nav ul{ margin:0; text-align:center; font-size: 0;border-radius: 0;background: 0 0}
    .footer_nav ul li{width: 32%; text-align: center; border:1px solid #fff; margin:0px 2px 6px !important;background: #006836;}
    .footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{background: #8bc349;}
    .footer_nav ul li a.active{background: #8bc349;}
    .footer_nav ul li:after{background: none;}
    .footer_nav ul li a{line-height: 50px;border-radius: 0;padding: 9px 22px;color: #fff;}

    .copyright{margin-top: 24px;}

    /* Nonhome */
    .nonhome-nav{width: 280px; right: 0; position: absolute;}
.nonhome-nav ul{padding: 0}
.nh-logo{width: 215px;}
}

/* Smartphones */
@media only screen
and (max-width : 600px) {

  /*Banner Area*/
  .mobi_ban{display: block;}

  /*Middle Area*/
  .middle_con section{margin:0 auto 8px!important;}
.middle2_con section{width: 100%;}
  /*Main Area*/


  /*Bottom Area*/
  .btm1_con section{margin:0 auto 8px!important; width: 100%}

  .btm2_con section {width: 100%;}

  /*Footer Area*/
  .footer_comp{display:block; line-height: 28px;}
  .footer_comp:before, .footer_comp:after{display: none;}
  .footer_nav ul li{width:100%; margin: 0 auto 6px!important;}

  /*Others*/
  .col2, .col3{-webkit-column-count: 1; -moz-column-count: 1; column-count: 1; -webkit-column-gap: 0; -moz-column-gap: 0;  column-gap: 0;}
  main .bullet{padding-left:10px;}
  .back_top{background: url(../images/back_top.png) no-repeat center #000; position: fixed; bottom: 10px; right: 10px; width: 43px; height: 43px; cursor: pointer; border-radius: 50%; z-index: 999;}
  .back_top:hover{opacity: .6;}

  /*For (AddThis) Plugins*/
  .withAddThis_plugins {bottom: 48px;}
  .withAddThis_ftr_btm {padding: 0 10px 88px;}
  /*End (AddThis) Plugins*/

}

@media only screen
and (max-width : 500px) {
/* Bottom */
.btm3_con a{padding: 20px 25px;}
}
